<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>iTalk</title>
    <link rel="stylesheet" href="css/cover.css">
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>

<style>
</style>

<body>
    <div id="app">
        <div class="bg"></div>
        <div class="index-main">
            <img src="../images/logo.png" width="218" height="100" />
            <div class="index-content">An Intelligent QA System</div>
            <div class="index-content">Portal Personal Assistant</div>
            <div class="index-actions">
                <i-button to="/login" type="primary" shape="circle" size="large" class="index-btn">Start</i-button>
                <i-button to="https://github.com/lihuifeifei/IBM-Project.git" type="primary" ghost shape="circle" icon="logo-github" size="large" class="index-btn">Github</i-button>
            </div>
        </div>
        <div class="index-bg-footer">
            <img src="../images/footer.png">
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>

</html>