<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <script>
    	

    	$(function(){
    		$("#mybtn").click(function(){
    			var text = $("#testinput").val();
    			var url = "/talk?intent="+text;
     			$.get(url,function(res){
    				console.log(res);
    			})
    		});
    		$("#mybtn1").click(function(){
    			var text = $("#testinput1").val();
    			var url = "/getdialog?dialogNode="+text;
    			$.get(url,function(res){
    				console.log(res);
    				vue.diatext=res.output.text;
    				
    			})
    		});   	
    		$("#mybtn2").click(function(){
    			$.get("/getcommonQA",function(res){
    				console.log(res);
    				
    			})
    		})
    	})

    </script>
</head>
<body>
    <h1>成功aasasdasd！</h1>
    <!--th:text 将div里面的文本内容设置为 -->
    <div th:text="${hello}">这是显示欢迎信息</div>
    <h1>/talk</h1>
    <input id="testinput" type="text">
    <button id="mybtn">click</button>
    <h1>/getdialog</h1>
    <input id="testinput1" type="text">
    <button id="mybtn1">click</button>
    <div id="vuework">{{diatext}}</div>
    
    <h1>/getcommonQA</h1>
    <button id="mybtn2">click</button>
    
    <script>
	var vue = new Vue({
		el:"#vuework",
		data:{
			diatext:'asdasd'
		}
	})
    </script>
</body>
</html>