<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <style type="text/css">
    	*{
    		margin: 0px
    	}
    	.fontTitle{
    		font-family: PingFang SC;
    		font-size: 60px;
    		background-color: #2d8cf0;
    		color: #fff;
    		text-align: center;
    	}
    	.fontContent{
    		font-family: PingFang SC;
    		font-size: 20px;
    		background-color: #2d8cf0;
    		color: #fff;
    		text-align: center;
    	}
    	.fontFoot{
    		font-family: PingFang SC;
    		font-size: 15px;
    		background-color: #2d8cf0;
    		color: #fff;
    		text-align: center;
    	}
    </style>
</head>
<body>
    <div id="app">
    <template>
	    <Row>
	        <i-col span="24">
				<!-- <span style="background-color: red;width: 100%">asd</span> -->
				<div style="height: 200px;line-height: 200px;" class="fontTitle">IBM问答系统</div>
			</i-col>
	    </Row>
	    <Row>
	        <i-col span="16">
	        	<div style="height: 400px;" class="fontContent">
	        		您的提问
	        		<div align="center">
	        			<Input placeholder="Enter something..." style="width: 600px;font-size: 20px;" v-model="question"  />
	        		</div>
	        		<button v-on:click="ans">回复</button>
	        		<div align="center">
	        			<Input placeholder="the answer" style="width: 600px;font-size: 20px;" v-model="answer" disabled="disabled" />
	        		</div>
	        	</div>
	        	
        	</i-col>
	        
	        <i-col span="8">
	        	<div style="height: 400px;border-left: 1px solid;overflow-y:scroll" class="fontContent">
	        	历史消息
<!-- 	        		<template>
	        		<div>
					    <Row type="flex" justify="start" class="code-row-bg">
					        <i-col span="16">消息1</i-col>
					        <i-col span="8"></i-col>
					    </Row>
					    <br>
					    <Row type="flex" justify="end" class="code-row-bg">
					        <i-col span="16">回答1</i-col>
					        <i-col span="8"></i-col>
					    </Row>
					    <br>
					</div>
					</template> -->
					<template>
					<div v-for="commonQA in commonQAs" >
					   <Row type="flex" justify="start" class="code-row-bg">
					        <i-col span="16" style="color: red;">Q:{{commonQA.cquestion}}</i-col>
					    </Row>
					    <br>
					    <Row type="flex" justify="end" class="code-row-bg">
					        <i-col span="16" style="color: green;">A:{{commonQA.canswer}}</i-col>
					    </Row>
					    <br>
				    </div>
					</template>
					

	        	</div>
	        </i-col>
	    </Row>
	    <hr>
	    <Row>
	    	<div class="fontFoot" style="height: 20px">
		        <i-col span="12">
					制作团队：XXX
				</i-col>
		        <i-col span="12">
		        	西南交通大学
		        </i-col>	    	
	    	</div>

	    </Row>
	</template>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            visible: false,
            commonQAs:[],
            question:"",
            answer:""
        },
        methods: {
            ans: function () {
            	$.get("/ansandlog",{dialogNode:vm.question},function(res){
            		console.log(res);
            		vm.answer=res.output.text[0];
            	})
            }
        }
    })
    $(function(){
		$.get("/getcommonQA",function(res){
			vm.commonQAs=res
			
		})
    })
  </script>
</body>
</html>